schemas/RacingCardRace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:st="http://schemas.travsport.se/2018"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	targetNamespace="http://schemas.travsport.se/2018">
  <xs:include schemaLocation="./Common.xsd"/>
  <xs:element name="RacingCardRace">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>RacingCard holds information about all races and starting horses regarding a specific race day, (date and trackid identifies a race day).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="date" type="xs:date">
          <xs:annotation>
            <xs:documentation>The race day date.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="trackKey" type="st:TrackKey" />
        <xs:element name="track" type="st:CodeText">
          <xs:annotation>
            <xs:documentation>The race day track.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="raceNr" type="xs:int">
          <xs:annotation>
            <xs:documentation>Race number.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="raceDayId" type="xs:int">
          <xs:annotation>
            <xs:documentation>RaceDay id.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="raceId" type="xs:int">
          <xs:annotation>
            <xs:documentation>Race id.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="country" type="st:CodeText">
          <xs:annotation>
            <xs:documentation>Country the race day is held in.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="distance" type="xs:string">
          <xs:annotation>
            <xs:documentation>Race distance.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="raceType" type="st:CodeText">
          <xs:annotation>
            <xs:documentation>Type of race, (for example V = Vanligt lopp/Regular race).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="raceClass" type="st:CodeText" minOccurs="0">
        </xs:element>
        <xs:element name="final" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Shows if the race was a final race.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="heat" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Shows if the race was a heat race.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="gallopRaceInfo" type="st:GallopRaceInfo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Specific race information for thoroughbred races.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="trotRaceInfo" type="st:TrotRaceInfo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Specific race information for harness races.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="conditions" type="st:Conditions">
          <xs:annotation>
            <xs:documentation>Information about the race  that determines which horses that are allowed to participate.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cancelled" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Shows if the race was cancelled.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="entriesReleased" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Shows if the participating horses has been determined. (To get this information for an upcoming race use the RaceDayCalendar object.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="postTime" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>The time when the race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="starts">
          <xs:annotation>
            <xs:documentation>All horses registered for the race, (non-starters included).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Start" type="st:Start" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" fixed="array" />
          </xs:complexType>
        </xs:element>
        <xs:element name="id" type="xs:string" />
        <xs:element name="timestamp" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>Date and time when the RacingCard object was assembled.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Conditions">
    <xs:annotation>
      <xs:documentation>Information about the race  that determines which horses that are allowed to participate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="maxNrOfStarts" type="xs:int">
        <xs:annotation>
          <xs:documentation>The max number of starts in the race.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="raceName" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of the race.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="raceTerms" type="st:RaceTerms">
        <xs:annotation>
          <xs:documentation>The terms to be met for the horse to qualify for the race.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shortText" type="xs:string">
        <xs:annotation>
          <xs:documentation>Short information text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="raceTexts">
        <xs:annotation>
          <xs:documentation>Long information text.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="TextRow">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string" />
                  <xs:element name="type" type="xs:string" />
                  <xs:element name="text" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" type="xs:string" fixed="array" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrotRaceInfo">
    <xs:annotation>
      <xs:documentation>Specific race information for harness races.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startMethod" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>
            Starting method.
            Possible values (code/text):
            A/Auto
            L/Linjestart
            P/Parentestid
            Q/ParentestidAuto
            V/Volt
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="monte" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Shows if this race is monte race.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GallopRaceInfo">
    <xs:annotation>
      <xs:documentation>Specific race information for thoroughbred races.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trackSurface" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>
            The track surface. Type of material.
            Possible values (code/text/english text):
            aw/Allweatherbana
            dt/Dirt-track
            fl/Flis
            gr/Gräs
            hl/Halm
            hä/Häckbana
            is/Is(endastStMoritz,Schweiz)
            po/Polymer
            sa/Sand
            st/Steeplechase
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrackCondition">
    <xs:annotation>
      <xs:documentation>State of the track. For gallop events there will be a surface linked with the state.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="condition" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>
            State of the track
            Possible values Galop(code/text):
            nt/Något tung/
            sn/Snabb/
            st/Standard/
            tg/Tung/
            Possible values Trot(code/text):
            L/Lätt bana/
            N/Något tung bana/
            S/Struket lopp som ej omköres/
            T/Tung bana/
            V/Vinterbana/
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="surface" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>
            Track surface linked with the state. Valid only for gallop events.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrackData">
    <xs:annotation>
      <xs:documentation>Holds track information such as the sport system id as well as the alphabetical abbreviation and full name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trackKey" type="st:TrackKey">
        <xs:annotation>
          <xs:documentation>Sport system id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="track" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>The alphabetical abbreviation and full name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Start">
    <xs:annotation>
      <xs:documentation>Start holds, in addition to start base information, horse statistics. Start base holds information about both the horse and the driver/jockey starting in a race at a specific track/date.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startNr" type="xs:int">
        <xs:annotation>
          <xs:documentation>Starting number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Starting number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="postPosition" type="xs:int">
        <xs:annotation>
          <xs:documentation>Starting lane.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="shoeInfoPrevious" type="st:ShoeInfo">
        <xs:annotation>
          <xs:documentation>Shoe information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sulkyTypePrevious" type="st:SulkyInfo">
        <xs:annotation>
          <xs:documentation>Sulky information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="distanceRecord" type="st:Record" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Distance record information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gallopStartInfo" type="st:GallopStartInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Information available if the race is gallop/thoroughbred racing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trotStartInfo" type="st:TrotStartInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Information available if the race is trot/harness racing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horseStat" type="st:HorseStat">
        <xs:annotation>
          <xs:documentation>Statistics regarding the horse.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scratched" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Shows if the horse has been scratched.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="driverChanged" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Shows if the original driver has been changed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="startPoint" type="xs:int">
        <xs:annotation>
          <xs:documentation>Points earned during the last starts. Is given by the Swedish Trotting Association. Is used to rank horses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horse" type="st:Horse">
        <xs:annotation>
          <xs:documentation>Horse information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="driver" type="st:LicenceOwner">
        <xs:annotation>
          <xs:documentation>Driver information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainer" type="st:LicenceOwner">
        <xs:annotation>
          <xs:documentation>Trainer information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GallopStartInfo">
    <xs:annotation>
      <xs:documentation>Information available if the race is gallop/thoroughbred racing.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="blinkers" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Shows if the horse are going to use blinkers in the race.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="blinkersType" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Shows the type of blinkers the horse is going to use in the race. Possible values are: B = Blinkers, F = Flexible bridle, S = Soft bridle, N = Nothing. Can be null.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rating" type="xs:integer">
        <xs:annotation>
          <xs:documentation>A rating number based on the last starts the horse has made.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="weight" type="st:Weight">
        <xs:annotation>
          <xs:documentation>The weigth that the horse will be carrying in the race.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrotStartInfo">
    <xs:annotation>
      <xs:documentation>Information available if the race is trot/harness racing.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="distance" type="xs:string">
        <xs:annotation>
          <xs:documentation>Distance for the horse in the race, can differ from race distance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="homeTrack" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>Home track of the trainer of the horse.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="records">
        <xs:annotation>
          <xs:documentation>The fastest time the horse has run on each distance and starting method.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Record" type="st:Record" />
          </xs:sequence>
          <xs:attribute name="type" type="xs:string" fixed="array" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="voltRecord" type="st:Record" />
      <xs:element minOccurs="0" name="autoRecord" type="st:Record" />
      <xs:element minOccurs="0" name="mileRecord" type="st:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HorseStat">
    <xs:annotation>
      <xs:documentation>Holds statistic information regarding the horse.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="monte" type="st:YearStat" />
      <xs:element name="current" type="st:YearStat">
        <xs:annotation>
          <xs:documentation>Current year achievements, , (wins, places, earnings).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="previous" type="st:YearStat">
        <xs:annotation>
          <xs:documentation>Last year achievements, (wins, places, earnings)..</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="latest12" type="st:YearStat" />
      <xs:element name="total" type="st:YearStat">
        <xs:annotation>
          <xs:documentation>Life achievements, (wins, places, earnings).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pastPerformances">
        <xs:annotation>
          <xs:documentation>Horses past performances, (normally the last five).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultRow" type="st:ResultRow" />
          </xs:sequence>
          <xs:attribute name="type" type="xs:string" fixed="array" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Horse">
    <xs:annotation>
      <xs:documentation>Horse information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="age" type="xs:int">
        <xs:annotation>
          <xs:documentation>Age.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="breed" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>The breed of the horse.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="breeder" type="st:Owner"/>
      <xs:element name="colour" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>The colour of the horse.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dam" type="st:HorseKey">
        <xs:annotation>
          <xs:documentation>Mother.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sire" type="st:HorseKey">
        <xs:annotation>
          <xs:documentation>Father.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="damSire" type="st:HorseKey">
        <xs:annotation>
          <xs:documentation>The mothers father of the starting horse.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horseNameAndNationality" type="xs:string"/>
      <xs:element name="key" type="st:HorseKey">
        <xs:annotation>
          <xs:documentation>Information that identifies the horse.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="swedishTrained" type="xs:boolean" />
      <xs:element name="tempSwedishTrained" type="xs:boolean" />
      <xs:element name="tempAbroadTrained" type="xs:boolean" />
      <xs:element name="guest" type="xs:boolean" />
      <xs:element name="type" type="xs:string" />
      <xs:element name="nationalityBorn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Country in which the horse was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationalityRaised" type="xs:string">
        <xs:annotation>
          <xs:documentation>Country in which the horse was raised.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationalityReg" type="xs:string" />
      <xs:element name="owner" type="st:Owner"/>
      <xs:element name="sex" type="st:CodeText">
        <xs:annotation>
          <xs:documentation>
            Sex.
            Possible values Galop (code/swedish text/english text):
            H/Hingst/Colt
            S/Sto/Filly
            V/Valack/Gelding
            ZZ/okänd/unknown

            Possible values Trot (code/swedish text/english text):
            H/hingst/horse
            S/sto/mare
            V/valack/gelding
            ZZ/okäntkön/unknown
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>